
{% extends "layout.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
               <span class="govuk-caption-xl">Handover document</span>
               FIRE IT UP! - campaign
          </h1>
          <h2 class="govuk-heading-m govuk-!-margin-top-6">
               What is FIRE IT UP!?
          </h2>
          <p class="govuk-body">
               The <strong>'Fire It Up'</strong> campaign launched on 17th January 2019 to promote apprenticeships to potential apprentices
               and employers. This included national TV and social media advertising, which can be found on the dedicated
               <a href="https://www.youtube.com/user/ApprenticeshipsNAS" class="govuk-link govuk-link--no-visited-state" target="_blank">Fire It Up YouTube</a>
               channel. The
               <a href="https://www.apprenticeships.gov.uk/" class="govuk-link govuk-link--no-visited-state" target="_blank">Fire It Up campaign website</a>
               is designed to support this campaign, inspiring and informing potential apprentices, employers and parents.
          </p>

          <h2 class="govuk-heading-m govuk-!-margin-top-6">
               Who has worked on this?
          </h2>
          <ul class="govuk-list govuk-list--bullet">
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/5bd824414d969945b2bead6b" title="Link to Chris's profile on Confluence" target="_blank">Chris Hewison</a> – UX Designer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/5d0786f3fab9db0c5797f129" title="Link to Carolines's profile on Confluence" target="_blank">Caroline Dawson</a> – Content Designer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/5bc70e2aa994e83f6ee801ef" title="Link to Jared's profile on Confluence" target="_blank">Jared Quesne</a> – Product Owner</li>
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/5a1beeca2ba749286691dd2b" title="Link to Ania's profile on Confluence" target="_blank">Ania Machacek</a> – Delivery Manager</li>
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/557058:a7d5ba6f-bfee-42a4-bba3-659647a76dea" title="Link to James's profile on Confluence" target="_blank">James King</a> – Front End Developer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/557058:0dd049ee-f953-4e47-b61b-7977c988d6a3" title="Link to Michael's profile on Confluence" target="_blank">Michael Brown</a> – User Researcher</li>
               <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/5e70fa3e9500480c35a66f61" title="Link to James's profile on Confluence" target="_blank">Joel Siddall</a> – User Researcher</li>
          </ul>
     </div>
     <!-- Two thirds header section ends -->

     <!-- One third header section starts -->
     <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">
               <br>Design artefacts
          </h2>
          <div class="govuk-inset-text">
               <ul class="govuk-list govuk-list--bullet">
                  <li><a href="https://www.figma.com/files/project/2398113/FIRE-IT-UP!" class="govuk-link govuk-link--no-visited-state" target="_blank">Design assets - Figma</a></li>
                  <li><a href="https://skillsfundingagency.atlassian.net/wiki/spaces/FEC/pages/1290928591/UX+prototypes+version+history" class="govuk-link govuk-link--no-visited-state" target="_blank">Prototype links - Confluence</a></li>
                  <li><a href="https://github.com/SkillsFundingAgency/das-campaigns-prototype" class="govuk-link govuk-link--no-visited-state" target="_blank">Prototype codebase - GitHub</a></li>
                  <li><a href="https://skillsfundingagency.atlassian.net/wiki/spaces/FEC/pages/1918992677/Copy+docs+Google+Drive+links" class="govuk-link govuk-link--no-visited-state" target="_blank">Content design - Google Docs</a></li>
               </ul>
          </div>
     </div>
     <!-- One third header section ends -->

</div>


<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <div class="govuk-grid-row">
               <!-- Sprints section starts -->
               <div class="govuk-grid-column-full">

                    <h2 class="govuk-heading-l govuk-!-margin-top-9">
                         Design assets
                    </h2>

                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                         <div class="govuk-accordion__controls">
                              <button type="button" class="govuk-accordion__open-all" aria-expanded="false">
                                   Open all<span class="govuk-visually-hidden"> sections</span>
                              </button>
                         </div>

                         <!-- ACCORDION - SECTION ONE - START -->
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h2 class="govuk-accordion__section-heading">
                                        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-1" aria-expanded="false">
                                             Design assets - Figma
                                        </button>
                                        <span class="govuk-accordion__icon" aria-hidden="true"></span>
                                   </h2>

                                   <p class="govuk-body" id="accordion-default-summary-1" style="margin-bottom:0;">
                                        Figma is the design programme used to create the designs for the campaign, working alongside the agency M&C Saatchi
                                   </p>

                              </div>

                              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                                   <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">

                                             <p class="govuk-body">
                                                  <a href="https://www.figma.com/files/project/2398113/FIRE-IT-UP!" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-bottom:0;">
                                                       Team homepage
                                                  </a>
                                             </p>

                                             <p>&nbsp;</p>

                                             <p class="govuk-body govuk-!-font-weight-bold">FIRE IT UP! - Documentation of design files within Figma</p>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Useful files
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">File name</th>
                                                                      <th scope="col" class="govuk-table__header">Description</th>
                                                                      <th scope="col" class="govuk-table__header">Link</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>⛔️ MVS + 1 - Layouts</strong></td>
                                                                      <td class="govuk-table__cell">The master design file where all assets can be found that are on the live site, the sub folders in this file contain everything needed to move the design forward, they ones being <strong>⭐️  Desktop</strong>, <strong>⭐️  Mobile</strong>, <strong>⭐️  Components</strong> & <strong>⭐️  Email</strong>.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/CKHt1v90g5rTv9CTpxRE16/%E2%9B%94%EF%B8%8F-MVS-1-Layouts" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>MVS - User Journey</strong></td>
                                                                      <td class="govuk-table__cell">This is the new journey maps we're taking the users on for the employer, the apprentice is yet to be started, but it's all about helping a user through the complex journey of hiring an apprentice.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/RXCjAn9hD3rGmgQt1uue7Gm5/MVS-User-Journey" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>MVS - Welcome email</strong></td>
                                                                      <td class="govuk-table__cell">Planning out the new welcome email campaign for the site it detailed here with further work to add to the personalisation peice we have been working on.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/e223PqGvT4bat1DNdgJtiW/MVS-Welcome-email" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>FIRE IT UP - Mantra</strong></td>
                                                                      <td class="govuk-table__cell">Visual representation of the FIRE IT UP! user journey</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/g7xJYP5yawcLo5tUWMP2uQ4q/FIRE-IT-UP-Mantra" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>Web Styleguide</strong></td>
                                                                      <td class="govuk-table__cell">This is the base styles saved to Figma and used within the design files, a style sheet if you will. If you change the items in here then you change the items within the designs themselves.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/agE8duckiLzmnPWz3K43T5m6/Web-Styleguide" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>FAT & FAA - User Journey</strong></td>
                                                                      <td class="govuk-table__cell">Used for mapping out the user journey for the FAA & FAT journey's within the site to help, research and content map out work accordingly.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/GSTtHbvB9yznb2zoR1pSyo/FAT-and-FAA-User-Journey" target="_blank">View document</a></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                             <p class="govuk-body govuk-!-font-weight-bold">Other projects & campaigns</p>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Amazing apprenticeships
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">File name</th>
                                                                      <th scope="col" class="govuk-table__header">Description</th>
                                                                      <th scope="col" class="govuk-table__header">Link</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>Amazing Apprenticeships</strong></td>
                                                                      <td class="govuk-table__cell">This is the master file for all the designs and the user journeys for the Amazing apprenticeships transition to gov.uk</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/JHfZboKshm1oOLJHWM4W1l/Amazing-Apprenticeships" target="_blank">View document</a></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Non-levy campaign
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">File name</th>
                                                                      <th scope="col" class="govuk-table__header">Description</th>
                                                                      <th scope="col" class="govuk-table__header">Link</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>Non levy - PDF's</strong></td>
                                                                      <td class="govuk-table__cell">Made specifically for the non-levy campaign run by <strong>Frances Morgan<strong> and written by <strong>Caroline Dawson</strong></td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/uJv1skoFrmE6Gj0RAc37E6/Non-levy-PDF-s" target="_blank">View document</a></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Transfers
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">File name</th>
                                                                      <th scope="col" class="govuk-table__header">Description</th>
                                                                      <th scope="col" class="govuk-table__header">Link</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>Transfers PDF's</strong></td>
                                                                      <td class="govuk-table__cell">This is where all the PDF designs for the Transfers campaign can be found, all 6 of them.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/WxbYS5LOuqUm9tNQm402ekUd/Transfers-PDF-s" target="_blank">View document</a></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Ambassador network
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">File name</th>
                                                                      <th scope="col" class="govuk-table__header">Description</th>
                                                                      <th scope="col" class="govuk-table__header">Link</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>Ambassador network...</strong></td>
                                                                      <td class="govuk-table__cell">We used this files to house the base designs ofr the Ambassador network to go, this was built within Marketo.</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/LMGV8ARJJ7rusfwshYHPZ7/Ambassador-network..." target="_blank">View document</a></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Older out of use files
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">File name</th>
                                                                      <th scope="col" class="govuk-table__header">Description</th>
                                                                      <th scope="col" class="govuk-table__header">Link</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>MVS - Layouts</strong></td>
                                                                      <td class="govuk-table__cell">This was the original master design document made by us before build, this was then usurped by ⛔️ MVS + 1 - Layouts which then became the master</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/GC5qYtjm69kLDIB5qbwhIYpz/MVS-Layouts" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>RECRUIT - User Journey</strong></td>
                                                                      <td class="govuk-table__cell">This was used to create a visual representation of the journey an employer has to go through to hire an apprentice</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/lvzL1PEkk3KbaLSNcNnXqK/RECRUIT-User-Journey" target="_blank">View document</a></td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><strong>MVS - User Testing</strong></td>
                                                                      <td class="govuk-table__cell">Used to create a basic user testing process to assertain where we meet the user needs of the campaign</td>
                                                                      <td class="govuk-table__cell"><a href="https://www.figma.com/file/hEOFGYCzCW720H7QYLVjkV/MVS-User-Testing" target="_blank">View document</a></td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                        </div>
                                   </div>

                              </div>
                         </div>
                         <!-- ACCORDION - SECTION ONE - END -->

                         <!-- ACCORDION - SECTION TWO - START -->
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h2 class="govuk-accordion__section-heading">
                                        <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-2" aria-expanded="false">
                                             Prototype links - Confluence
                                        </button>
                                        <span class="govuk-accordion__icon" aria-hidden="true"></span>
                                   </h2>

                                   <p class="govuk-body" id="accordion-default-summary-2" style="margin-bottom:0;">
                                        All versions of the prototype can be found on the Confluence page below, the table below also documents the links
                                   </p>

                              </div>

                              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                                   <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">

                                             <p class="govuk-body">
                                                  <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/FEC/pages/1290928591/UX+prototypes+version+history" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-bottom:0;" target="_blank">
                                                       Confluence page
                                                  </a>
                                             </p>

                                             <p>&nbsp;</p>

                                             <p class="govuk-body govuk-!-font-weight-bold">FIRE IT UP! - Documentation of prototype links</p>

                                             <details class="govuk-details" data-module="govuk-details">
                                                  <summary class="govuk-details__summary">
                                                       <span class="govuk-details__summary-text">
                                                            Useful links
                                                       </span>
                                                  </summary>
                                                  <div class="govuk-details__text">
                                                       <table class="govuk-table">
                                                            <thead class="govuk-table__head">
                                                                 <tr class="govuk-table__row">
                                                                      <th scope="col" class="govuk-table__header">Prototype</th>
                                                                      <th scope="col" class="govuk-table__header">Date updated</th>
                                                                 </tr>
                                                            </thead>
                                                            <tbody class="govuk-table__body">
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v20.herokuapp.com/campaign/index" target="_blank">fire-it-up-v20.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Jun 3 2020 at 4:45 PM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v19.herokuapp.com/campaign/index" target="_blank">fire-it-up-v19.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Apr 24 at 11:53 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v18.herokuapp.com/campaign/index" target="_blank">fire-it-up-v18.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">May 7 at 11:17 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v17.herokuapp.com/campaign/index" target="_blank">fire-it-up-v17.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Jan 28, 2020 at 9:29 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v16.herokuapp.com/campaign/index" target="_blank">fire-it-up-v16.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Nov 18, 2019 at 11:22 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v15.herokuapp.com/campaign/index" target="_blank">fire-it-up-v15.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Nov 12, 2019 at 9:31 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v14.herokuapp.com/campaign/index" target="_blank">fire-it-up-v14.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:32 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v13.herokuapp.com/campaign/index" target="_blank">fire-it-up-v13.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:32 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v12.herokuapp.com/campaign/index" target="_blank">fire-it-up-v12.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:31 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v11.herokuapp.com/campaign/index" target="_blank">fire-it-up-v11.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:31 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v10.herokuapp.com/campaign/index" target="_blank">fire-it-up-v10.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Jan 9, 2020 at 11:32 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v9.herokuapp.com/campaign/index" target="_blank">fire-it-up-v9.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Jul 17, 2019 at 2:11 PM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v8.herokuapp.com/campaign/index" target="_blank">fire-it-up-v8.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:30 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v7.herokuapp.com/campaign/index" target="_blank">fire-it-up-v7.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:29 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v6.herokuapp.com/campaign/index" target="_blank">fire-it-up-v6.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Aug 27, 2019 at 2:10 PM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v5.herokuapp.com/campaign/index" target="_blank">fire-it-up-v5.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Aug 27, 2019 at 2:09 PM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v4.herokuapp.com/campaign/index" target="_blank">fire-it-up-v4.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:28 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v3.herokuapp.com/campaign/index" target="_blank">fire-it-up-v3.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Jul 18, 2019 at 3:42 PM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v2.herokuapp.com/campaign/index" target="_blank">fire-it-up-v2.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:27 AM</td>
                                                                 </tr>
                                                                 <tr class="govuk-table__row">
                                                                      <td class="govuk-table__cell"><a href="https://fire-it-up-v1.herokuapp.com/campaign/index" target="_blank">fire-it-up-v1.herokuapp.com</a></td>
                                                                      <td class="govuk-table__cell">Oct 31, 2019 at 10:26 AM</td>
                                                                 </tr>
                                                            </tbody>
                                                       </table>
                                                  </div>
                                             </details>

                                        </div>
                                   </div>

                              </div>
                         </div>
                         <!-- ACCORDION - SECTION TWO - END -->

                         <!-- ACCORDION - SECTION THREE - START -->
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h2 class="govuk-accordion__section-heading">
                                        <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-3" aria-expanded="false">
                                             Build assets - GitHub
                                        </button>
                                        <span class="govuk-accordion__icon" aria-hidden="true"></span>
                                   </h2>

                                   <p class="govuk-body" id="accordion-default-summary-3" style="margin-bottom:0;">
                                        Figma is the design programme used to create the designs for the campaign, working alongside the agency M&C Saatchi
                                   </p>

                              </div>

                              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

                                   <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">

                                             <p class="govuk-body govuk-!-font-weight-bold">FIRE IT UP! - GitHub repository</p>

                                             <p class="govuk-body">
                                                  Access can be reuqested from the DevOps team or Front End Dev <a href="https://skillsfundingagency.atlassian.net/wiki/people/557058:a7d5ba6f-bfee-42a4-bba3-659647a76dea" title="Link to James's profile on Confluence" target="_blank">James King</a>
                                             </p>


                                             <p class="govuk-body">
                                                  <a href="https://github.com/SkillsFundingAgency/das-campaigns-prototype" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-bottom:0;">
                                                       GitHub page
                                                  </a>
                                             </p>

                                        </div>
                                   </div>

                              </div>
                         </div>
                         <!-- ACCORDION - SECTION THREE - END -->

                         <!-- ACCORDION - SECTION FOUR - START -->
                         <div class="govuk-accordion__section">
                              <div class="govuk-accordion__section-header">
                                   <h2 class="govuk-accordion__section-heading">
                                        <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-4" aria-expanded="false">
                                             Content design - Google Docs
                                        </button>
                                        <span class="govuk-accordion__icon" aria-hidden="true"></span>
                                   </h2>

                                   <p class="govuk-body" id="accordion-default-summary-4" style="margin-bottom:0;">
                                        ???
                                   </p>

                              </div>

                              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">

                                   <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-full">

                                             <p class="govuk-body govuk-!-font-weight-bold">Google docs content storage</p>

                                             <p class="govuk-body">
                                                  <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/FEC/pages/1918992677/Copy+docs+Google+Drive+links" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-bottom:0;">
                                                       Confluence page
                                                  </a>
                                             </p>

                                        </div>
                                   </div>

                              </div>
                         </div>
                         <!-- ACCORDION - SECTION FOUR - END -->

                    </div>

               </div>
               <!-- Sprints section ends -->
          </div>

     </div>
</div>

{% endblock %}
